{% extends 'base.html' %}

{% block title %}About - Cancer Cell Classification{% endblock %}

{% block content %}
    <h1>About the Creator</h1>
    <p>This cancer cell classification web application was created by Group 7 includes Pratosha, Sayantini, Sarupya, Pratyush.</p>
    <p>The purpose of this project is to demonstrate the application of machine learning in medical image analysis.</p>
    <p>Feel free to reach out with any questions or feedback at sarupyadatta@gmail.com .</p>
    <p>Thank you for using our application!</p>
{% endblock %}